{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.info>
  @link http://www.phpmanufaktur.info/de/kitframework/erweiterungen/event.php
  @link https://github.com/phpManufakturHeirs/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<p>{{ 'The publishing of the event %title% was rejected by the administrator'|trans({'%title%':event.description_title}) }}</p>