{# 
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Event/Template' %}
  {% set template_file = 'backend/bootstrap/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'Event Administration - Copy Event'|trans }}{% endblock %}
  
{% block content %}
  <div class="container">
    {% include '@phpManufaktur/Event/Template/default/backend/bootstrap/toolbar.twig' %}
    {% include '@phpManufaktur/Basic/Template/default/pattern/bootstrap/about.twig' %}
  </div>
{% endblock content %}