{% block toolbar %}
    <ul id="toolbar">
    {% for item in toolbar %}
        <li{% if item.active %} class="active"{% endif %}><a href="{{ item.link }}">{{ item.text|trans }}</a></li>
    {% endfor %}
    </ul>
{% endblock toolbar %}